name: Documentation

on:
  push:
    branches:
      - master

jobs:

  passage_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Installation de java-17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Genere la documentation
        run: mvn javadoc::javadoc
      - name: Deployer la documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site/apidocs
          publish_branch: gh-pages
          user_name: "GitHub Actions"
          user_email: "
    permissions: write-all
